<%= form_for(@listing, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @listing.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <%= f.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :barrio, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :zone, class: "form-control" %>
    </div>
    <%= f.label :phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :price, class: "form-control" %>
    </div>

    <%= f.label :gc, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :gc, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control", rows: "3"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :guarantee, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :guarantee, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :link, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :link, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ranking, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% [ 1,2,3,4,5].each do |option| %>
        <%= f.label option %>
        <%= f.radio_button :ranking, option, style:"margin-right:10px"%>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comentarios, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :comment, class: "form-control", rows: "5"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :full_scraped, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :full_scraped, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div class="listing_pictures">
  <% @listing.pictures.each do |picture| %>
    <%= image_tag picture.url %>
  <% end %>
</div>
