<div class="page-header">
  <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>

  <%= link_to listings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

  <% if @listing.full_scraped? %>
    <%= link_to scrapeit_listing_path, class: 'btn btn-success' , remote:true do %>
      <span class="glyphicon glyphicon glyphicon-ok"></span>
      Scrape it again
    <% end %>
  <% else %>
    <%= link_to scrapeit_listing_path, class: 'btn btn-warning' , remote:true do %>
      <span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
      Scrape it
    <% end %>
  <% end %>




  <h1>Editing listing</h1>
</div>

<%= render 'form' %>


<br>
<%= form_for @listing,  :url => {:action => "add_similar"} do |ff| %>
  <%= ff.collection_select(:similar, Listing.order(:id), :id, :id_title_price, prompt: true)  %>
  <%= ff.submit 'Add similar', class: 'btn btn-default' %>
<% end %>
<br>

<div class="table-responsive">
  <h2>Duplicados</h2>

  <table class="table table-striped table-bordered table-hover datatable">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Price</th>
        <th>Gc</th>
        <th>Description</th>
        <th>Comment</th>
        <th>Ranking</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @listing.similars) do |listing| %>
            <td>
              <%= link_to edit_listing_path(listing) do %>
                <%= image_tag listing.img, width: '150'%>
              <% end %>
            </td>
            <td><%= listing.title %></td>
            <td> <%= listing.price %> <%= listing.currency %></td>
            <td><%= listing.gc %> <%= listing.guarantee %></td>
            <td> <div style="height:150px;overflow:hidden"> <%= listing.description %> </div> </td>
            <td> <div style="height:150px;overflow:hidden"> <%= listing.comment %> </div> </td>
            <td  class="ranking_<%= listing.ranking %>"> <%=listing.ranking  %></td>
            <td> <%=listing.created_at.strftime("%Y/%m/%e")  %></td>
            <td><%= link_to :ver, listing.link %> <br><br>
                <!-- <%= link_to :borrar, listing, method: :delete, data: { confirm: 'Are you sure?' }, remote:true %> -->
            </td>

      <% end %>
    </tbody>
  </table>
