<div class="page-header">
  <h1>Listings</h1> <br>
  <%= link_to new_listing_path, class: 'btn btn-primary new-listing' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Listing
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Img</th>
        <th>Title</th>
        <th>Price</th>
        <th>Gc</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Garantia</th>
        <th>Ranking</th>
        <th>Created</th>
        <th>External Link</th>

        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @listings) do |listing| %>
            <td>
              <%= link_to edit_listing_path(listing) do %>
                <%= image_tag listing.img %>
              <% end %>
            </td>
            <td><%= listing.title %></td>
            <td><%= listing.currency %> <%= listing.price %></td>
            <td><%= listing.gc %></td>
            <td><%= listing.address %></td>
            <td><%= listing.phone %></td>
            <td><%= listing.guarantee %></td>
            <td> <%=listing.ranking  %></td>
            <td> <%=listing.created_at.strftime("%e/%m/%Y")  %></td>
            <td><%= link_to :ver, listing.link %></td>

            <td><%= link_to 'Show', listing %></td>
            <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
