<div class="page-header">
  <%= link_to 'Show deleted and without pics', {controller: "listings", action: "index", show_deleted: true}, class: 'btn btn-primary new-listing', method: :get if !@show_deleted %>
  <%= link_to 'Hide deleted and without pics', :root, class: 'btn btn-primary new-listing', method: :get  if @show_deleted  %>

  <%= link_to 'Hide ugly', {controller: "listings", action: "index", hide_ugly: true}, class: 'btn btn-primary new-listing', method: :get if !@hide_ugly %>
  <%= link_to 'Show ugly', :root, class: 'btn btn-primary new-listing', method: :get  if @hide_ugly %>

  <%= link_to 'Hide dupes', {controller: "listings", action: "index", hide_dupes: true}, class: 'btn btn-primary new-listing', method: :get if !@hide_dupes %>
  <%= link_to 'Show dupes', :root, class: 'btn btn-primary new-listing', method: :get  if @hide_dupes %>
  <span style="float:right">
    Negative Search: <input size="20" type="text" id="negative_search">
  </span>
</div>

<div class="table-responsive listing-table">
  <table class="table table-striped table-bordered table-hover datatable">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Price</th>
        <th>Direccion</th>
        <th>Description</th>
        <th>Comment</th>
        <th>Ranking</th>
        <th>Modified</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @listings) do |listing| %>
            <td>
              <%= link_to edit_listing_path(listing) do %>
                <%= image_tag listing.img, width: '150'%>
              <% end %>
            </td>
            <td> <div style="width:150px;height:150px;overflow:hidden"><%="#{listing.title} -- #{listing.from} " %> </div></td>
            <td> <%= listing.price %> <%= listing.currency %></td>
            <td> <%= listing.address %> <%= listing.address %></td>
            <td> <div style="width:190px;height:150px;overflow:hidden"> <%= listing.description %> </div> </td>
            <td> <div style="width:190px;height:150px;overflow:hidden"> <%= raw(listing.comment) %> </div> </td>
            <td  class="ranking_<%= listing.ranking %>"> <%=listing.ranking  %></td>
            <td> Created: <%=listing.created_at.in_time_zone.strftime("%Y/%m/%e")  %> <br>  Updated: <%=listing.updated_at.in_time_zone.strftime("%Y/%m/%e")  %> </td>
            <td><%= link_to :ver, listing.link %> <br><br>
                <%= link_to :borrar, listing, method: :delete, data: { confirm: 'Are you sure?' }, remote:true if !listing.deleted %>
                <%= 'Borrado' if listing.deleted %>
            </td>
      <% end %>
    </tbody>
  </table>
</div>
